/* app css stylesheet */
.sort{
  margin: 10px;
}
.container{
  width: 75%;

}
.addingData{
  width: 85%;
  margin: auto;
  margin-top: 5%;
}
a:hover{
  text-decoration: none;
  color: black;  
}
.row{
  background-color: #FFFFFF;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.well{
  margin-bottom: 10px;
  padding: 0px;
}
.arrow{
 
  width: 4em;
  height: 4em;
  font-size: 12px;
  border-radius: 3em;
  text-align: center;
  padding: 0px;
  float: left;
  display: inline-block;

}

#courseImg
{
    background: no-repeat center center; 
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
}

#courseImgList
{
    background: no-repeat center center; 
    width: 100%;
    height: 400px;
    margin-bottom: 3%;
}
#courseImgThumb
{
    background: no-repeat center center; 
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
}

.thumbs{
  height: 700px;
 -webkit-transition: all .1s ease-in-out;

}

.thumbs:hover {
 -webkit-transform: scale(1.1);
}
 .profile{
    border-radius: 20%;
 }
.btn:click{
  border-style: none;
}

.progress-bar {
  background-color: #3B3;
}
.progress .progress-bar{
  line-height: 2em;
  font-size: 1em;
}
.progress{
  height: 2em;
  background-color: black;
}

.arrow.upmod { 
  background: url(%%upvote%%) 0 0; 
} 
.arrow.downmod { 
  background: url(%%downvote%%) 0 0; 
} 

.list{
  -webkit-transition: all .1s ease-in-out;
}
.list:hover{
   -webkit-transform: scale(1.1);
}
