<div class="container" ng-controller="addCourseController">

<ng-form class="form-horizontal" name="addCourseForm" role="form">

    <div class="form-group">
      <label class="col-sm-2 control-label">Course Name</label>
      <div class="col-sm-4">
        <input type="text" ng-model="course.name" class="form-control" placeholder="Course Name "></div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Price</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" placeholder="Price" ng-model="course.price"></div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Image URL</label>
      <div class="col-sm-4">
        <input type="url" class="form-control" placeholder="Paste Image URL here" ng-model="course.pic"></div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Start Date</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" placeholder="dd/mm/yyyy" ng-model="course.date"></div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-4">
        <textarea type="text" class="form-control" rows="5" ng-model="course.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="addCourse(course, addCourseForm)">Sign in</button>
      </div>
    </div>
  </ng-form>
</div>