
  <div class="container">
    <div class="row well desc">
      <img class="col-md-12 img-responsive" ng-src="{{course.pic}}" />
      <div class="col-md-7">
        <strong><div class="h2" ng-bind="course.name"></div></strong>
      </div>
      
      <div class="col-md-2" style="float: right">
        <div class="h3" ng-bind="course.price | currency"></div>
      </div>
      
      <div class="col-md-8" style="{float:right}">
        <span ng-bind="course.description"></span>
          
      </div>
    </div>
  </div>